/* Basic style */
:root {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;
}
* {
  box-sizing: border-box;
}
body {
  margin: 2rem;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
}

section {
  display: flex;
  flex-direction: row;
}

/* wheel */
.wheel {
  border-radius: 50%;
  width: 5em;
  height: 5em;
  background: radial-gradient(black 45%, black 5%, gray 50%);
  border: black solid 1px;
  cursor: pointer;
  
}

.line1 {
  background: gray;
  width: 5%;
  height: 35%;
  position: relative;
  left: 2.3em;
  top: 0.8em;
  right: 2em;
}

.line2 {
  background: gray;
  width: 5%;
  height: 35%;
  rotate: 65deg;
  position: relative;
  bottom: 0.4em;
  left: 3.1em;
}

.line3 {
  background: gray;
  width: 5%;
  height: 35%;
  rotate: 310deg;
  position: relative;
  left: 2.9em;
  bottom: 1.2em;
}

.line4 {
  background: gray;
  width: 5%;
  height: 35%;
  rotate: 45deg;
  position: relative;
  left: 1.7em;
  bottom: 2.8em;
}

.line5 {
  background: gray;
  width: 5%;
  height: 35%;
  rotate: 290deg;
  position: relative;
  left: 1.5em;
  bottom: 5.5em;
}

.inner-circle-wheel{
  background: radial-gradient(gray 50%, black 50%);
  width: 11.5%;
  height: 11.5%;
  border-radius: 50%;
  rotate: 300deg;
  position: relative;
  left: 2.2em;
  bottom: 6.4em;
}

/* 360 animation keyframe heeft een soort variable naam die ik kan gebruiken in animation syntax */
@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* wheel animation styling voor JS die ik oproep vanuit de keyframe genaamd rotate animation */
.show-spin {
  animation: rotateAnimation 2s linear infinite;
}

/* square color effect */
/* square styling */
.square {
  width: 5em;
  height: 5em;
  margin-left: 1em;
  border-radius: 1%;
  background: linear-gradient(45deg, #FFD700 30%, black 50%);
  border: 0.1em solid gray;
  background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* color class effect voor javascript */
.show--sqaure--color {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}